body {
  background: linear-gradient(
    177.9deg,
    rgb(248, 215, 247) 5.3%,
    rgb(248, 215, 247) 5.3%,
    rgb(248, 215, 247) 5.3%
  );
}

.App .container {
  max-width: 600px;
  padding: 5px 30px;
  margin: 20px auto;
}

.App .weather-app {
  border: 1px solid rgb(102, 109, 122);
  border-radius: 10px;
  padding: 30px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/088/938/original/photo-1596393458627-95a32bf31f02.jpg?1688869085);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}
