body {
  font-family: "Roboto", sans-serif;
  background-image: url("https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg");

  animation: slidein 100s;
  background-repeat: repeat-x;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background-color: hsla(200, 40%, 30%, 1);
}

@keyframes slidein {
  0% {
    background-position: top;
    background-size: 3000px;
  }
  100% {
    background-position: -100px 0px;
    background-size: 2750px;
  }
}

.App .container {
  max-width: 600px;
  padding: 5px 30px;
  margin: 20px auto;
}

.App .weather-app {
  border: 1px solid rgb(102, 109, 122);
  border-radius: 10px;
  padding: 30px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/089/171/original/mountain.jpeg?1689024952);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}

@media (max-width: 700px) {
  .App .container {
    padding: 5px 15px;
  }

  .App .weather-app {
    padding: 15px;
  }
}
