.Cities li {
  display: inline;
  padding: 9px;
}

.Cities ul {
  list-style: none;
  margin: 0;
  padding: 0 0 20px;
  position: relative;
  left: -12px;
}

.Cities a {
  text-decoration: none;
}

@media (max-width: 900px) {
  .Cities li {
  padding: 5px;
}
}